* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.25), rgba(250, 231, 168, 0.75)),
    url('../img/fundo.png');

  background-repeat: no-repeat;       /* evita repetição */
  background-size: cover;             /* cobre toda a tela */
  background-attachment: fixed;       /* fixa o fundo */
  background-position: center;        /* centraliza */
  color: #2c2c2c;
  overflow-x: hidden;
  padding-top: 80px;
}

/* NAVBAR */
nav{
    background: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    backdrop-filter: blur(6px);
}

.logo {
  width: 120px;
  filter: drop-shadow(0px 4px 6px rgba(0,0,0,0.4));
}

.nav-links {
  display: flex;
  gap: 40px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  letter-spacing: 2px;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  color: #fff;
}

.active{
    border-bottom:2px solid #c9a86a;
    padding-bottom:6px;
}

.icons-top ion-icon {
  font-size: 22px;
  color: #cd952d;
  margin-left: 20px;
}

/* SEÇÃO CONTATO */
.contato-section {
  padding: 60px 7%;
  text-align: center;
  margin-bottom: 30px;
}

.titulo h1 {
  font-family: 'Cinzel', serif;
  font-size: 28px;
  color: #000;
  letter-spacing: 3px;
}

.titulo p {
  color: #000;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 50px;
}

/*BLOCO DE CONTATOS*/
.grid-contato
{
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(220px, 1fr) );
  gap: 40px;
  justify-items: center;
  box-sizing:border-box;
}

.contatos
{
  background: rgba(240, 225, 89, 0.26);
  border-radius: 10px;
  border: solid #c9a86a;
  padding: 35px;
  margin-top: 20px;
}

.contatos h2
{
  text-align: left;
}

.contatos h3
{
  text-align: left;
  margin-top: 5px;
}

.contatos p
{
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
  transition: transform 0.3s ease;
}

.contatos p:hover
{
  transform: translateY(-10px);
}

.contatos a
{
  text-decoration: none;
  color: #000;
}

.contatos a:hover
{
  color: #fff;
}


.whatsapp
{
  background: #008b0c46;
  padding: 20px;
  text-align: left;
  border-radius: 20px;
  border: solid #0a7400;
}

.whatsapp ion-icon{
    font-size:22px;
    color:#0a7400;
}

.instagram
{
  background: #8b001e46;
  padding: 20px;
  text-align: left;
  border-radius: 20px;
  border: solid #740027;
  cursor: pointer;
}

.instagram ion-icon{
    font-size:22px;
    color:#740027;
}

.email
{
  background: #8f8e8e;
  padding: 20px;
  text-align: left;
  border-radius: 20px;
  border: solid #000;
  cursor:pointer;
}

.email ion-icon{
    font-size:22px;
    color:#fff;
}


/*BENEFICIOS*/
.beneficios {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 60px;
}

.beneficios p
{
    color: #000;
}

.item {
  color: #cd952d;
  text-align: center;
  max-width: 180px;
}

.item ion-icon {
  font-size: 36px;
  margin-bottom: 10px;
}

.item p {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
}