* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.25), rgba(250, 231, 168, 0.75)),
    url('../img/fundo.png');

  background-repeat: no-repeat;       /* evita repetição */
  background-size: cover;             /* cobre toda a tela */
  background-attachment: fixed;       /* fixa o fundo */
  background-position: center;        /* centraliza */
  color: #2c2c2c;
  overflow-x: hidden;
  padding-top: 80px;
}

/* NAVBAR */
nav{
    background: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    backdrop-filter: blur(6px);
}

.logo {
  width: 120px;
  filter: drop-shadow(0px 4px 6px rgba(0,0,0,0.4));
}

.nav-links {
  display: flex;
  gap: 40px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  letter-spacing: 2px;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  color: #fff;
}

.active{
    border-bottom:2px solid #c9a86a;
    padding-bottom:6px;
}

.icons-top ion-icon {
  font-size: 22px;
  color: #cd952d;
  margin-left: 20px;
}

/* SEÇÃO SOBRE NÓS */
.sobre-section {
  text-align: center;
  margin-bottom: 30px;
}

.titulo h1 {
  padding: 60px 7%;
  font-family: 'Cinzel', serif;
  font-size: 28px;
  color: #000;
  letter-spacing: 3px; 
}

.texto p {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 25px;
  color: #444;
  text-align: justify;
}

.texto{
    max-width: 900px;
    
    background: rgba(255, 255, 255, 0.2);
    
    padding: 35px;
    
    border-radius: 20px;

    border: solid rgba(206, 172, 22, 0.541);

    backdrop-filter: blur(5px);

    box-shadow: 0 4px 20px rgba(0,0,0,0.08);

    margin: 0 auto;
}

.texto h2
{
  text-align: left;
  margin-bottom: 20px;
}

.texto h3
{
  text-align: left;
  margin-bottom: 10px;
}

/*INICIO FOTO EMBALAGEM*/

.embalagem{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 150px;
    margin-bottom: 50px;
}

/* CARD */
.embalagem div{
    position: relative;
    width: 320px;
    height: 420px;
    border-radius: 28px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s ease;
    background: #000;
    border: 2px solid rgba(205,149,45,0.7);
    box-shadow:
    0 10px 30px rgba(0,0,0,0.30),
    0 0 25px rgba(205,149,45,0.15);
}

/* IMAGEM */
.embalagem div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
}

/* ESCURECIMENTO PREMIUM */
.embalagem div::after{
    content: "";

    position: absolute;
    inset: 0;

    background: linear-gradient(
        to top,
        rgba(0,0,0,0.92) 5%,
        rgba(0,0,0,0.35) 20%,
        rgba(0,0,0,0.10) 50%,
        transparent
    );
}

/* BRILHO DOURADO */
.embalagem div::before{
    content: "EMBALAGEM PREMIUM";
    position: absolute;
    top: 18px;
    left: 18px;
    background: rgba(201, 181, 145, 0.829);
    color: black;
    padding: 8px 14px;
    border-radius: 30px;
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 3;
    box-shadow: 0 0 15px rgba(205,149,45,0.15);
}

/* HOVER */
.embalagem div:hover{
    transform: translateY(-12px) scale(1.02);
    box-shadow:
    0 18px 40px rgba(0,0,0,0.40),
    0 0 35px rgba(205,149,45,0.35);
}

/* ZOOM IMAGEM */
.embalagem div:hover img{
    transform: scale(1.08);
}
/*FIM MAIS FOTO EMBALAGEM*/

/* BENEFÍCIOS */
.beneficios {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.beneficios p
{
    color: #000;
}

.item {
  color: #cd952d;
  text-align: center;
  max-width: 180px;
}

.item ion-icon {
  font-size: 36px;
  margin-bottom: 10px;
}

.item p {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* RESPONSIVO */
@media(max-width: 768px) {

  .nav-links{
        display:flex;              
        flex-direction:row;     
        gap:15px;                  /* mais compacto */
        justify-content:center;    
        flex-wrap:wrap;            /* quebra se precisar */
        padding:5px 0;
        margin-top: 20px;
    }
  
  .logo {
    display: none;
  }
  .icons-top{
    display: none;
  }
  .sobre-section {
    padding: 40px 10%;
  }

  .texto p {
    font-size: 14px;
    line-height: 1.6;
  }


}
