* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.25), rgba(250, 231, 168, 0.75)),
    url('../img/fundo.png');

  background-repeat: no-repeat;       /* evita repetição */
  background-size: cover;             /* cobre toda a tela */
  background-attachment: fixed;       /* fixa o fundo */
  background-position: center;        /* centraliza */
  color: #2c2c2c;
  overflow-x: hidden;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 7%;
}

.logo {
  width: 120px;
  filter: drop-shadow(0px 4px 6px rgba(0,0,0,0.4));
}

.nav-links {
  display: flex;
  gap: 40px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  letter-spacing: 2px;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  color: #fff;
}

.active{
    border-bottom:2px solid #c9a86a;
    padding-bottom:6px;
}

.icons-top ion-icon {
  font-size: 22px;
  color: #cd952d;
  margin-left: 20px;
}

/* SEÇÃO SOBRE NÓS */
.sobre-section {
  padding: 5px 15%;
  text-align: center;
}

.titulo h1 {
  font-family: 'Cinzel', serif;
  font-size: 28px;
  color: #2c2c2c;
  letter-spacing: 3px;
  margin-bottom: 40px;
}

.texto p {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 25px;
  color: #444;
  text-align: justify;
}

/* RESPONSIVO */
@media(max-width: 768px) {

  .nav-links{
        display:flex;              
        flex-direction:row;     
        gap:15px;                  /* mais compacto */
        justify-content:center;    
        flex-wrap:wrap;            /* quebra se precisar */
        padding:5px 0;
        margin-top: 20px;
    }
  
  .logo {
    display: none;
  }
  .icons-top{
    display: none;
  }
  .sobre-section {
    padding: 40px 10%;
  }

  .texto p {
    font-size: 14px;
    line-height: 1.6;
  }
}
